<p>
  To lose weight, do not necessarily hunger and give up delicious food! The program of proper nutrition for weight loss
  is not a diet, but a way of healthy small meals.
  At the heart of the program - the right combination of products, the abandonment of harmful food, the calculation of
  calories needed for the body.
  The diet consists of five components. This is 6-7 dishes. Calories are counted, and compatibility of products is
  taken into account. You just need to eat and drink in time. We adjust the nutrition program if needed.
</p>